.container
	.well
	
		img.mapsicon(src="https://s3.amazonaws.com/mapsicon/all/{{assessment.assessment_ID | lowercase}}/vector.svg")
		legend {{assessment.country}}
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
			
		.pull-left.left-padding-lg.bottom-padding-lg
			.row
				text Researcher:
				a(href="mailto:{{researcher.email}}")  {{researcher.firstName}}  {{researcher.lastName}}
			.row
				text Reviewer:
				a(href="mailto:{{reviewer.email}}")  {{reviewer.firstName}}  {{reviewer.lastName}}
			.row
				text Status: {{assessment.status}}
			.row
				text Last edited:
				em  {{assessment.last_edit | date}}	
			.row
				text Started:
				em  {{assessment.start_date | date}}	
			.row
				text Number of questions complete: {{assessment.questions_complete}}
			
		table.table.table-hover.table-striped.table-condensed
			thead
				tr
					th.col-md-1.text-center Question number
					th.col-md-1 Component
					th.col-md-5.text-center Question
					th.col-md-1 Status
					th.col-md-1.text-center 
			tbody
				tr(ng-repeat="answer in answers | filter: searchText | orderBy:sortOrder")
					td.col-md-1.text-center {{answer.question_order}}
					td.col-md-1 {{answer.component}}
					//- td.col-md-5 {{answer.question_text}}
					td.col-md-5 answer.question_text
					td.col-md-1 {{answer.status}}
					td
						a.btn.center-block.btn-default(href="") Go to answer page
					//- text {{answer}}
						//- a.btn.center-block.btn-default(href="/admin/assessment-assign/{{assessment.assessment_ID}}", ng-if="assessment.status=='unassigned'") Assign
					

					//- td(ng-if="answer.status!='assigned'")
					//- 	text {{answer.status}}
					//- td(ng-if="answer.status='assigned'")
					//- td 
					//- 	a(href="/assessments/assessment/{{answer.answer_ID}}") {{answer.question_text.question_text}}