.container
	.well
		img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
		legend {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sort_options")

		.pull-left.left-padding-lg.bottom-padding-lg
			.row
				text Researcher:
				a(href="mailto:{{assessment.researcher.email}}")  {{assessment.researcher.firstName}}  {{assessment.researcher.lastName}}
			.row
				text Reviewer:
				a(href="mailto:{{assessment.reviewer.email}}")  {{assessment.reviewer.firstName}}  {{assessment.reviewer.lastName}}
			.row
				text Status: {{assessment.status | capitalize}}
			.row
				text {{assessment.status | capitalize}} by 
				a(href="mailto:{{assessment.assigned_by.email}}") {{assessment.assigned_by.firstName}} {{assessment.assigned_by.lastName}} 
				text on 
				em {{assessment.assignment.assigned_date | date}}
			.row
				text Last edited by 
				a(href="mailto:{{assessment.edited_by.email}}")  {{assessment.edited_by.firstName}}  {{assessment.edited_by.lastName}} 
				text on 
				span(ng-repeat="mod in assessment.modified")
					em(ng-show="$last") {{mod.modified_date | date}}
			.row(ng-if="assessment.questions_complete===0")
				text(ng) Number of questions complete: {{assessment.questions_complete}} (0%)
			.row(ng-if="assessment.questions_complete!==0")
				text Number of questions complete: {{assessment.questions_complete}} (
				text {{((assessment.questions_complete/assessment.question_list.length)*100 | number :2)}}
				text % complete)

		table.table.table-hover.table-striped.table-condensed
			thead
				tr
					th.col-md-1.text-center Question number
					th.col-md-1 Component
					th.col-md-5.text-center Question
					th.col-md-1 Status
					th.col-md-1.text-center 
			tbody
				tr(ng-repeat="question in assessment.question_list | filter: searchText | orderBy:sortOrder")
					td.col-md-1.text-center {{question.question_order}}
					td.col-md-1 {{question.component_text}}
					td.col-md-5 {{question.question_text}}
					td.col-md-1 {{question.status | capitalize}}
					td
						a.btn.center-block.btn-default(href="/assessments/assessment-view/{{question.answer_ID}}", ng-if="question.status!='assigned'") Go to answer page
						a.btn.center-block.btn-default.disabled(href="", ng-if="question.status=='assigned'") No data