.container
	.jumbotron
		h1 NRGI Resource Governance Index Assessment Tool 2015
		p Welcome to the assessment to RGI Assessment Tool Portal.

	.row
		.col-md-4
			div(ng-include="'/partials/reporting'")
		.col-md-4
			div(ng-include="'/partials/institutional'")
		.col-md-4
			div(ng-include="'/partials/safeguards'")
			