div
   div.modal-header
      h4 Are you sure you want to delete this resource?
   div.modal-footer
      button.btn.btn-danger(ng-click="deleteResource()") Confirm
      | &nbsp;
      button.btn.btn-default(ng-click="closeThisDialog()") Cancel
