div.left-padding-lg.right-padding-lg
    div.modal-header
        h3 Assessment Administration
    div.modal-body
        .form-horizontal
            fieldset
                .row
                    h5.col-md-4  Action
                    .form-group.col-md-8
                        select.form-group.form-control(name="action" ng-model="action" required)
                            option(value="" selected disabled) Select action
                            option(ng-repeat="opt in workflow_opts" value="{{opt.value}}" ng-if="opt.value!==''") {{opt.text}}
                            //- option(ng-repeat="opt in workflowOpts" value="{{opt.value}}" ng-if="opt.value===''" disabled text-decoration="line-through") {{opt.text}} (needs finalization)

    div.modal-footer
        button.btn.btn-success(ng-click="assessmentMove()" ng-disabled="reassignAssessment.$invalid") Confirm action
        | &nbsp;
        button.btn.btn-danger(ng-click="closeDialog()") Cancel