div.left-padding-lg.right-padding-lg
    div.modal-header
        h4 Are you sure you want to submit this assessment?
    //div.modal-body
    div.modal-footer
        button.btn.btn-danger(ng-click="assessmentSubmit()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeDialog()") Cancel