table.table.table-hover.table-striped.table-condensed
    thead
        tr
            th.col-md-1.text-center Question number
            th.col-md-1 Component
            th.col-md-5.text-center Question
            th.col-md-2.text-center Status
            th.col-md-1.text-center Researcher Score
            th.col-md-1.text-center Reviewer Score
            th.col-md-1.text-center
    tbody
        tr(ng-repeat="answer in answers | filter: search_text | orderBy:sortOrder")
            td.col-md-1.text-center {{answer.question_order}}
            td.col-md-1 {{answer.component_text}}
            td.col-md-5 {{answer.question_text}})
            td.col-md-2.text-center
                .text-success.glyphicon.glyphicon-check(ng-if="answer.status==='resubmitted'")  {{answer.status | ucfirst}}
                .text-success.glyphicon.glyphicon-check(ng-if="answer.status==='submitted'")  {{answer.status | ucfirst}}
                .text-info.glyphicon.glyphicon-floppy-saved(ng-if="answer.status==='saved'")  {{answer.status | ucfirst}}
                .text-danger.glyphicon.glyphicon-flag(ng-if="answer.status==='flagged'")  {{answer.status | ucfirst}}
                .text-primary.glyphicon.glyphicon-check(ng-if="answer.status==='approved'")  {{answer.status | ucfirst}}
                .text(ng-if="answer.status==='assigned'")  {{answer.status | ucfirst}}
            td.col-md-1.text-center {{answer.researcher_score}}
            td.col-md-1.text-center {{answer.reviewer_score}}
            td(ng-if="assessment.edit_control===identity.currentUser._id")
                a.btn.center-block.btn-primary(ng-if="answer.status!=='flagged' && assessment.status!=='submitted'"
                href="/assessments/answer/{{answer.answer_ID}}") Edit question
                a.btn.center-block.btn-danger(ng-if="answer.status==='flagged'"
                href="/assessments/answer/{{answer.answer_ID}}") Edit to answer
            td(ng-if="assessment.edit_control!==identity.currentUser._id")
                a.btn.center-block.btn-default(ng-if="answer.status!=='assigned' && answer.status!=='saved'"
                href="/assessments/answer/{{answer.answer_ID}}") View answer
                a.btn.center-block.btn-success.disabled(ng-if="answer.status==='assigned' || answer.status==='saved'"
                href="/assessments/answer/{{answer.answer_ID}}") No data