div(id="biblio_div").bottom-padding-med
    legend References:
    .row
        .col-md-5.pull-left.top-padding-med
            select.form-group.form-control.pull-left(ng-model="ref_selection" ng-change="select_ref_dialog()")
                option(value="" selected disabled) Select action
                option(ng-repeat="ref in ref_type" value="{{ref.value}}") {{ref.text}}

//- BILBLIO LIST
div(id="prev_bib")
    .row.left-padding-lg.right-padding-lg
        h4 Citations
        .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
            .row(ng-if="ref.type !== 'web_page'")
                b Title:
                text  {{ref.title}} (
                a(href="{{ref.s3_url}}" target="_blank") View here
                text )
            .row(ng-if="ref.type === 'web_page'")
                b Title:
                a(href="{{ref.source}}" target="_blank")  {{ref.title}}
            .row
                b Author(s):
                text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                    text(ng-if="!$last") ;
                text(ng-if="ref.author.length === 0")  N/A
            .row
                b Type:
                text  {{ref.type}}
            .row
                b Published:
                text(ng-if="ref.year")  {{ref.year}}
                text(ng-if="!ref.year")  N/A
            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
            .row Accessed on {{ref.comment.date_accessed | date: 'MM/dd/yyyy'}}
            .row.pull-right.right-padding-lg(ng-if="ref.comment.author===current_user._id")
                button.btn.btn-primary(popover="Feature coming" popover-trigger="mouseenter" ng-click="") Edit reference
            .row
                b Comments:
                text(ng-if="ref.comment")  {{ref.comment.comment}}
                text(ng-if="!ref.comment")  N/A
            hr

    .row.left-padding-lg.right-padding-lg
        h4 Interviews
        .row.left-padding-lg(ng-repeat="ref in interviews")
            .row
                b Contact:
                |  {{ref.firstName}} {{ref.lastName}}
            .row
                b Interviewed:
                |  {{ref.comment.contact_date | date:'MM/dd/yyyy'}}
            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
            .row.pull-right.right-padding-lg(ng-if="ref.comment.author===current_user._id")
                button.btn.btn-primary(popover="Feature coming" popover-trigger="mouseenter" ng-click="") Edit reference
            .row: b Comments:
            .row.left-padding-lg
                text(ng-bind-html="ref.comment.comment")
            hr