body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  padding-top: 30px;
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.mapsicon {
  height: 100px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.page-container {
  padding-top: 20px;
  min-width: 500px;
}
.page-well {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 70px;
}
.filter-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.table-responsive {
  overflow-x: auto;
}
.left-padding-lg {
  padding-left: 50px;
}
.top-padding-lg {
  padding-top: 50px;
}
.right-padding-lg {
  padding-right: 50px;
}
.bottom-padding-lg {
  padding-bottom: 50px;
}
.left-padding-med {
  padding-left: 20px;
}
.top-padding-med {
  padding-top: 20px;
}
.right-padding-med {
  padding-right: 20px;
}
.bottom-padding-med {
  padding-bottom: 20px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
#toast-container {
  top: 70px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  outline: none;
  cursor: inherit;
  display: block;
  opacity: 0;
}
.btn-col {
  width: 100%;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.ngdialog.dialogwidth800 .ngdialog-content {
  width: 800px !important;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #555;
  background-color: #ffd066;
}
.popover {
  max-width: 30% !important;
}
.popover-content {
  max-height: 300px;
  overflow-y: scroll;
}
.modal {
  overflow: visible;
}
.modal:focus {
  outline: 0;
}
.modal-content {
  width: 1600px;
}
.ui-draggable-handle {
  border-style: solid;
  border-color: #000;
  border-width: thin;
}
div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control {
  margin-top: 10px;
}
.wrap-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
table[ts-wrapper="ts-wrapper"] .tablesort-asc,
table[ts-wrapper="ts-wrapper"] .tablesort-desc {
  background-color: #ddd;
}
.assessment-actions {
  min-width: 110px;
}
.assessment-list-supervisor .table thead tr td {
  padding: 6px;
}
.assessment-list-supervisor .table thead tr th {
  padding: 6px;
}
.assessment-list-supervisor .table tbody tr td {
  padding: 6px;
}
.assessment-list-supervisor .table tbody tr th {
  padding: 6px;
}
.assessment-list-supervisor .dropdown .btn .caret {
  margin-left: 3px;
}
.assessment-list-supervisor .dropdown-menu {
  left: auto;
  right: 18px;
}
.assessment-list-supervisor .dropdown-menu li a {
  cursor: pointer;
}
.assessment-list-supervisor .dropdown-menu li a.inactive-link {
  cursor: not-allowed;
  color: #ddd;
}
.assessment-list-supervisor .dropdown-menu li a.inactive-link:hover {
  background-color: transparent;
}
.assessment-milestone-name {
  font-weight: 700;
  padding-right: 1em;
}
.popover {
  max-width: 400px !important;
}
@-moz-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-o-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
