body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  padding-top: 30px;
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.mapsicon {
  height: 100px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.page-container {
  padding-top: 20px;
  min-width: 500px;
}
.page-well {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 70px;
}
.filter-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.table-responsive {
  overflow-x: auto;
}
.left-padding-lg {
  padding-left: 50px;
}
.top-padding-lg {
  padding-top: 50px;
}
.right-padding-lg {
  padding-right: 50px;
}
.bottom-padding-lg {
  padding-bottom: 50px;
}
.left-padding-med {
  padding-left: 20px;
}
.top-padding-med {
  padding-top: 20px;
}
.right-padding-med {
  padding-right: 20px;
}
.bottom-padding-med {
  padding-bottom: 20px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
#toast-container {
  top: 70px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  outline: none;
  cursor: inherit;
  display: block;
  opacity: 0;
}
.btn-col {
  width: 100%;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.ngdialog.dialogwidth800 .ngdialog-content {
  width: 800px !important;
}
.popover {
  max-width: 30% !important;
}
.popover-content {
  max-height: 300px;
  overflow-y: scroll;
}
.modal {
  overflow: visible;
}
.modal:focus {
  outline: 0;
}
.modal-content {
  width: 1600px;
}
.ngdialog.ui-draggable {
  overflow: visible;
}
div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control {
  margin-top: 10px;
}
