//color variables
$extra-light-gray = #d7e0e2
$light-gray = #ddd
$gray = #ccc
$dark-gray = #555555

$dark = #333
$extra-dark = #000

$yellow = #ffd066

//margin & padding variables
$margin-regular = 10px

$padding-small = 6px
$padding-regular = 20px
$padding-large = 50px