div
    div.modal-header
        h4 Are you sure you want to delete this profile?
    div.modal-footer
        button.btn.btn-danger(ng-click="deleteUser()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel