div
    div.modal-header
        h4 Are you sure you want to delete this profile?
    //div.modal-body
    div.modal-footer
        button.btn.btn-danger(ng-click="userDelete()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeDialog()") Cancel