extend ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") RGI Assessment Tool
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
	section.content
		div(ng-view)
	h2= mongoMessage


	footer.container.text-center
		p &copy; 2014 NRGI

