extend ../includes/layout

block main-content
    //ul.nav.navbar-nav.navbar-right.right-padding-lg
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            ul.nav.navbar-nav
                ul.nav.navbar-nav.dropdown
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown") RGI Assessment Tool
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/") Home
                            li
                                a(href="/contact") Technical assistance



            .navbar-collapse.collapse
                div(ng-include="'/partials/account/navbar-login'")
                //ul.nav.navbar-nav.dropdown
        //            li
        //                a.dropdown-toggle RGI Assessment Tool
        //            ul.dropdown-menu
        //                li
        //                    a Home
        //
        //
        //            //button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
        //            //    text RGI Assessment Tool
        //            //    b.carat
        //            //ul.dropdown-menu(aria-labelledby="dropdownMenu1")
        //            //    li Home
        //            //    li Tech
        //
        //        //ul.nav.navbar-nav.dropdown
        //        //    li.dropdown
        //        //        a.dropdown-toggle RGI Assessment Tool
        //        //            b.caret
        //        //        ul.dropdown-menu
        //        //            li
        //        //                a(href="") Home
        //        //            li
        //        //                a(href="") Technical assistance
        //
        //
            .navbar-collapse.collapse
                div(ng-include="'/partials/account/navbar-login'")


    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2014 NRGI
