extend ../includes/layout

block main-content
    //ul.nav.navbar-nav.navbar-right.right-padding-lg
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            ul.nav.navbar-nav
                ul.nav.navbar-nav.dropdown
                    li
                        a(href="/contact") RGI Technical assistance



            .navbar-collapse.collapse
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2016 NRGI
