.left-padding-lg.right-padding-lg
    .modal-header
        h4 Are you sure you want to change the assessment status?
    .modal-body(ng-if="XYU.assignedUsers.length > 1")
        .row
            form.form-horizontal
                fieldset
                    .row
                        label.col-md-4 Assign control to
                        .form-group.col-md-8
                            select.form-group.form-control.right-padding-med(
                                name="edit_control"
                                ng-model="XYU.edit_control"
                                ng-options="user._id as (user.firstName + ' ' + user.lastName + ' (' + user.role + ')') for user in XYU.assignedUsers"
                            )
    .modal-footer
        button.btn.btn-danger(ng-click="setStatus()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel