.left-padding-lg.right-padding-lg
    .modal-header
        h3 Assign Assessment
    .modal-body
        fieldset
            .row(ng-if="assessment.status === 'unassigned'")
                strong Instructions:
                em  You must assign the assessment to a researcher. You can assign to a reviewer at a later data if need be.
            .row.top-padding-med
                div(ng-repeat="role in assessmentRoles")
                    label.col-md-4  {{::role|role|ucfirst}}
                    .form-group.col-md-8
                        select.form-group.form-control(
                        ng-model="assessment[role + '_ID']"
                        ng-options="r._id as (r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in availableUsers[role] | orderBy: 'lastName' | orderBy: 'firstName'"
                        required)
                            option(value="" selected disabled) Select {{::role|role}}...
            .modal-footer
                button.btn.btn-success(
                ng-click="assessment.status === 'unassigned' ? assignAssessment() : reassignAssessment()"
                ng-disabled="!assessment.researcher_ID || ((assessment.status !== 'unassigned') && !isAnyAssessmentRoleChanged())")
                    span(ng-if="assessment.status === 'unassigned'") Assign users to assessment
                    span(ng-if="assessment.status !== 'unassigned'") Reassign users to assessment
                | &nbsp;
                button.btn.btn-danger(ng-click="closeThisDialog()") Cancel