.left-padding-lg.right-padding-lg
    .modal-header
        h3 Assessment Administration
    .modal-body
        form(name="reassignAssessment").form-horizontal
            fieldset
                .row
                    h5.col-md-4  Action
                    .form-group.col-md-8
                        select.form-group.form-control(name="action" ng-model="action" required)
                            option(value="" selected disabled) Select action
                            option(ng-repeat="opt in workflow_opts" value="{{opt.value}}" ng-if="opt.value!==''") {{opt.text}}

    .modal-footer
        button.btn.btn-success(ng-click="moveAssessment()", ng-disabled="reassignAssessment.$invalid") Confirm action
        | &nbsp;
        button.btn.btn-danger(ng-click="closeThisDialog()") Cancel