//div(
//    name="{{name}}"
//    text-angular-name="{{name}}"
//    ng-model="ngModel"
//    ta-toolbar="{{taToolbarOptions}}"
//    text-angular
//    placeholder="{{placeholder}}"
//    ta-maxlength="{{editorContentMaxLength}}"
//    ta-max-text="{{editorContentMaxLength}}"
//    ta-disabled="disabled")
wysiwyg-edit(
content="ngModel"
config="editorConfig")

| {{ngModel}}
//div(smalleditor)