.top-padding-lg(ng-class="{'assessment-list-supervisor': current_user.isSupervisor()}")
    table.table.table-hover
        thead
            tr
                th.col-md-1 Assessment ID
                th.col-md-1 Answer ID
                th.col-md-1 Status
                th.col-md-3 Question text
                th.col-md-1 Researcher score
                th.col-md-1 Reviewer score
        tbody
            tr(ng-repeat="answer in answers | filter: search_text | orderBy: sort_order")
                td: a(href="/admin/assessments-admin/{{answer.assessment_id}}") {{answer.assessment_id}}
                td
                    a(ng-if="answer.status != 'assigned'" href="/admin/assessments-admin/answer/{{answer.answer_id}}") {{answer.answer_id}}
                    span(ng-if="answer.status == 'assigned'") {{answer.answer_id}}
                td {{answer.status}}
                td {{answer.question_text}}
                td
                    span.small(ng-if="answer.researcher_score_letter") {{answer.researcher_score_letter | ucfirst}} - {{answer.researcher_score_text}} (value: {{answer.researcher_score_value}})
                td
                    span.small(ng-if="answer.reviewer_score_letter") {{answer.reviewer_score_letter | ucfirst}} - {{answer.reviewer_score_text}} (value: {{answer.reviewer_score_value}})