div(ng-if="answer.final_score"): .well
    h5 Final answer:
    .left-padding-lg
        .text-success {{answer.final_score.letter | ucfirst}} - {{answer.final_score.text}}
    h5 Final justification:
    .left-padding-lg
        .text-success(ng-bind-html="answer.final_justification")
    h5 Final role:
    .left-padding-lg
        .text-success {{answer.final_role|role|ucfirst}}

div(ng-if="identity.currentUser.isResearcher()")
    .bottom-padding-med
        div(ng-if="!answer.reviewer_score.letter")
            h5 Reviewer answer:
            .left-padding-lg
                em.text-danger Not submitted
        div(ng-if="answer.reviewer_score.letter")
            h5 Reviewer answer:
            .left-padding-lg
                .text-primary {{::answer.reviewer_score.letter | ucfirst}} - {{::answer.reviewer_score.text}}
            h5 Reviewer justification:
            .left-padding-lg
                .text-primary(ng-bind-html="answer.reviewer_justification")

div(ng-if="identity.currentUser.isReviewer()")
    div(ng-if="!answer.researcher_score.letter")
        h5 Researcher answer:
        .left-padding-lg
            em.text-danger Not submitted
    div(ng-if="answer.researcher_score.letter")
        h5 Researcher answer:
        .left-padding-lg
            .text-primary {{::answer.researcher_score.letter| ucfirst}} - {{::answer.researcher_score.text}}
        h5 Researcher justification:
        .left-padding-lg
            .text-primary(ng-bind-html="answer.researcher_justification")

div(ng-if="identity.currentUser.isSupervisor() || identity.currentUser.isExternalReviewer()")
    .bottom-padding-med
        div(ng-if="!answer.researcher_score.letter")
            h5 Researcher answer:
            .left-padding-lg
                em.text-danger Not submitted
        div(ng-if="answer.researcher_score.letter")
            h5 Researcher answer:
            .left-padding-lg
                .text-primary {{::answer.researcher_score.letter| ucfirst}} - {{::answer.researcher_score.text}}
            h5 Researcher justification:
            .left-padding-lg
                .text-primary(ng-bind-html="answer.researcher_justification")

    .bottom-padding-med
        div(ng-if="!answer.reviewer_score.letter")
            h5 Reviewer answer:
            .left-padding-lg
                em.text-danger Not submitted
        div(ng-if="answer.reviewer_score.letter")
            h5 Reviewer answer:
            .left-padding-lg
                .text-primary {{::answer.reviewer_score.letter | ucfirst}} - {{::answer.reviewer_score.text}}
            h5 Reviewer justification:
            .left-padding-lg
                .text-primary(ng-bind-html="answer.reviewer_justification")

    .bottom-padding-med.well
        h5 Options
        .left-padding-lg(ng-repeat="choice in question.question_criteria track by choice.letter")
            | {{::choice.letter}} - {{::choice.text}}