//div(
//    name="{{name}}"
//    text-angular-name="{{name}}"
//    ng-model="ngModel"
//    ta-toolbar="{{taToolbarOptions}}"
//    text-angular
//    placeholder="{{placeholder}}"
//    ta-maxlength="{{editorContentMaxLength}}"
//    ta-max-text="{{editorContentMaxLength}}"
//    ta-disabled="disabled")

//wysiwyg(
//name="{{name}}"
//textarea-id="{{name}}"
//textarea-class="form-control"
//textarea-name="{{name}}"
//placeholder="{{placeholder}}"
//ng-model="ngModel"
//textarea-menu="{{taToolbarOptions}}"
//enable-bootstrap-title="true"
//)
wysiwyg-edit(content="ngModel")