.container.top-padding-med
	.well
		legend Assessment Status Dashboard
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")

		table.table.table-hover
			thead
				tr
					th Country
					th Owner
					th Researcher
					th Reviewer
					th Started
					th Last Edited
					th Status
					th Assign to Users

			tbody
				tr(ng-repeat="assessment in assessments | filter: searchText | orderBy:sortOrder")
					td 
						a(href="/assessments/{{assessment.assessment_ID}}") {{assessment.country}}
					td (current edit rights)
					td {{assessment.researcher_ID}}
					td {{assessment.reviewer_ID}}
					td {{assessment.start_date | date}}
					td {{assessment.last_edit | date}}
					td {{assessment.status}}
					td
						a(ng-if="assessment.status=='unstarted'")
							.btn.btn-default(href="/admin/assessment-admin/{{assessment.assessment_ID}}") Assign