.container
	h1 Assessment Status Dashboard g[PLACEHOLDER]
	text This should show a table with all assessments, percentage complete, who has control of document

	table.table.table-hover
		thead
			tr
				th Country
				th Percent Complete
				th Owner
			tbody
				tr
					td Afghanistan
					td 30%
					td Researcher
				tr
					td Nigeria
					td 90%
					td Reviewer
				tr
					td Malaysia
					td 100%
					td Supervisor
				tr
					td Tanzania
					td 0%
					td researcher
				tr
					td Ghana
					td 50%
					td researcher