.container
	text Edit button should take you to profile page
	.well
		table.table
			h1 Users Table
			thead
				tr
					th Name
					th Username
					th Email
					th Roles
					th Countries
					th Submitted
					th Approved
					th 
			tbody
				//- Loop through all users
				tr(ng-repeat="user in users")
					td {{user.firstName}} {{user.lastName}}
					td {{user.username}}
					td {{user.email}}
					td
						p(ng-repeat="role in user.roles")
							text {{role}}
					td
						p(ng-repeat="country in user.countries")
							text {{country.country}}
					td
						p(ng-repeat="country in user.countries")
							text(ng-if="country.submitted==true") Yes
					td
						p(ng-repeat="country in user.countries")
							text(ng-if="country.approved==true") Yes
					td
						button Edit
