div
   .modal-header
      h4 Are you sure you want to delete this interviewee?
   .modal-footer
      button.btn.btn-danger(ng-click="deleteInterviewee()") Confirm
      | &nbsp;
      button.btn.btn-default(ng-click="closeThisDialog()") Cancel