div
   .modal-header
      h4 Are you sure you want to unlink this document?
   .modal-footer
      button.btn.btn-danger(ng-click="unlinkDocument()") Confirm
      | &nbsp;
      button.btn.btn-default(ng-click="closeThisDialog()") Cancel