div.left-padding-lg.right-padding-lg(draggable-dialog)
    div.modal-header
        h3 Please add text describing flag.
    div.modal-body
        .form-horizontal
            fieldset
                .row
                    .form-group(required).col-md-12
                        div(
                            name="question_text"
                            ng-model="flag_content"
                            text-angular
                        )

    div.modal-footer
        button.btn.btn-success(ng-click="saveFlag()" ng-disabled="!flag_content") Save
        | &nbsp;
        button.btn.btn-default(ng-click="closeDialog()") Cancel