div
   .modal-header
      h4 Are you sure you want to delete this reference?
   .modal-footer
      button.btn.btn-danger(ng-click="deleteReference()") Confirm
      | &nbsp;
      button.btn.btn-default(ng-click="closeThisDialog()") Cancel