//- answer page
.container.top-padding-med
	.well
		legend.h2 {{assessment.country}} 2015 Assessment
		.row.left-padding-lg.bottom-padding-med
			h3 {{answer.question_order}}. {{question.question_text}}
			h5 Researcher score:
			em(ng-if="!answer.researcher_score") Not submitted
			strong(ng-if="answer.researcher_score") {{answer.researcher_score}}
			h5 Reviewer score:
			em(ng-if="!answer.reviewer_score") Not submitted
			strong(ng-if="answer.reviewer_score") {{answer.reviewer_score}}

		.row.left-padding-lg.bottom-padding-lg
			.col-md-pull-2
				button.btn.btn-primary(ng-click="answerSubmit()", ng-disabled="answerForm.$invalid") Submit answer
				| &nbsp;
				button.btn.btn-danger(ng-click="answerClear()") Clear answer
				| &nbsp;
				a.btn.btn-default(href="/") Return to assessment menu


		.row.left-padding-lg
			.form-horizontal(name="answerForm")
				fieldset
					div(id="choiceBox").bottom-padding-med
						legend Choose one of the following answers:
						.form-group.left-padding-lg(ng-repeat="choice in question.question_choices", required)
							input(type="radio", name="choice.choice_name", value="choice.order", checked="")
							text.left-padding-med {{choice.criteria}}
					
					div(id="comments").bottom-padding-med
						legend Comments:
						div(id="prevComments")
							.row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
								.row
									b {{comment.author_name}} ({{comment.role}}):
								.row.col-md-11 {{comment.content}}
								.row.col-md-offset-8.col-md-3
									date
										small
											em {{comment.date}}

						div(id="newComment").bottom-padding-med
							.form-group.top-padding-med
								.row.left-padding-lg
									label.col-md-2 New comment
									.col-md-9
										textarea.form-control(name="comment", type="text")
						
					div(id="bibliography").bottom-padding-med
						legend Bibliograpical reference:
						div(id="prevBib")
							.row.left-padding-lg(ng-repeat="reference in answer.references")
								.row
									b {{reference.author}} ({{reference.role}}):
								.row.col-md-11
									a(href="{{reference.URL}}"){{reference.tex_ref}}
								.row.col-md-11
									em Comment:
									text  {{reference.note}}
								.row.col-md-offset-8.col-md-3
									date
										small
											em {{reference.date}}
						br

						div(id="newBib").bottom-padding-med
							.row.left-padding-med
								.col-md-9
									b Upload documents:
								.pull-right.col-md-3
									span.btn.btn-success.btn-file Select File
										input(type="file" name="referenceFileUpload")
									//- <div ng-controller="MyCtrl">
  							//- 			<input type="file" ng-file-select="onFileSelect($files)" multiple>
									//- </div>
									//- button.btn.btn-success(ng-click="uploadFile()", ng-disabled="") Select file
									//- input(type="file" id="referenceFileUpload")
									//- input(type="file")
									//- input(type="file" id="exampleInputFile")
							.form-group.top-padding-med
								.row.left-padding-lg.bottom-padding-med
									label.col-md-2 Citation:
									.col-md-9
										input.form-control(name="citation", type="text")
								.row.left-padding-lg
									label.col-md-2 Comment:
									.col-md-9
										textarea.form-control(name="citationComment", type="text")


					div(id="validation").bottom-padding-med
						legend Validation:
						div(id="currentValidation")
							.row.left-padding-lg
								ul
									li {role} {agrees/disagrees} with {other role}
							.row.top-padding-med.left-padding-lg
								b Do you agree with the {other role}?
								.form-group.left-padding-lg
									input(type="radio", name="agreeement_choice", value="1", checked="")
									text.left-padding-med Agree
									br
									input(type="radio", name="agreeement_choice", value="1", checked="")
									text.left-padding-med Disagree
				//- 			div(id="agreementChoice")
				//- 				fieldset
				//- 					div(id="choiceBox")
				//- 						legend Choose one of the following answers:
				//- 						.form-group.left-padding-lg
				//- 							input(type="radio", name="assessment_choice", value="1", checked="")
				//- 							text.left-padding-med {option 1}
				//- 							br
				//- 							input(type="radio", name="assessment_choice", value="2", checked="")
				//- 							text.left-padding-med {option 2}
				//- 							br
				//- 							input(type="radio", name="assessment_choice", value="3", checked="")
				//- 							text.left-padding-med {option 3}
				//- 							br
				//- 							input(type="radio", name="assessment_choice", value="4", checked="")
				//- 							text.left-padding-med {option 4}
				//- 							br

				//- 