.container
	.well
		h1 Open Assessments

		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")

		table.table.table-hover.table-striped.table-condensed
			thead
				tr
					th Country
					th Researcher
					th Reviewer
					th Started
					th Submitted
					th Reviewed
					th Approval
					th Last Edited
					th Status
					th Questions Complete
			tbody
				tr(ng-repeat="assessment in assessments | filter: searchText | orderBy:sortOrder")
					//- th {{assessment}}
					td 
						a(href="/assessments/{{assessment.assessment_ID}}") {{assessment.country}}
					td
						a(href="mailto:{{assessment.researcher.email}}") {{assessment.researcher.firstName}} {{assessment.researcher.lastName}}
					td 
						a(href="mailto:{{assessment.reviewer.email}}") {{assessment.reviewer.firstName}} {{assessment.reviewer.lastName}}
					td {{assessment.start_date | date}}
					td {{assessment.submit_date | date}}
					td {{assessment.review_date | date}}
					td {{assessment.approval_date | date}}
					td {{assessment.last_edit | date}}
					td {{assessment.status}}
					td {{assessment.quesions_complete}}