.container.top-padding-med
	.well
		legend.h2 {{assessment.country}} 2015 Assessment
		.row.left-padding-lg.bottom-padding-med
			h3 Question {{answer.question_order}}. {{answer.question_text}}
			h5 Researcher score:
			em(ng-if="!answer.researcher_score") Not submitted
			strong(ng-if="answer.researcher_score") {{answer.researcher_score}}
			h5 Reviewer score:
			em(ng-if="!answer.reviewer_score") Not submitted
			strong(ng-if="answer.reviewer_score") {{answer.reviewer_score}}

		//- Active buttons
		.row.left-padding-lg.bottom-padding-lg(ng-if="assessment.edit_control===current_user._id")
			.col-md-pull-2
				button.btn.btn-primary(ng-click="answerSave()", ng-disabled="answer_form.$invalid") Save answer
				| &nbsp;
				button.btn.btn-success(ng-click="answerSubmit()") Submit answer
				| &nbsp;
				button.btn.btn-danger(ng-click="answerClear()") Clear answer
				| &nbsp;
				a.btn.btn-default(href="/assessments/{{answer.assessment_ID}}") Return to assessment menu
		//- View only buttons
		.row.left-padding-lg.bottom-padding-lg(ng-if="assessment.edit_control!==current_user._id")
				button.btn.btn-primary.disabled Save answer
				| &nbsp;
				button.btn.btn-success.disabled Submit answer
				| &nbsp;
				button.btn.btn-danger.disabled Clear answer
				| &nbsp;
				a.btn.btn-default(href="/assessments/{{answer.assessment_ID}}") Return to assessment menu

		.row.left-padding-lg
			.form-horizontal(name="answer_form")
				fieldset
					div(id="answer_choice_div").bottom-padding-med
						legend Choose one of the following answers:
						ng-form(name="answer_choice_form")
							.form-group.left-padding-lg(ng-repeat="choice in question.question_choices", required)
								input(type="radio", name="choice.choice_name", value="{{choice.order}}", checked="", ng-model="answer[current_user.role + '_score']")
								text.left-padding-med {{choice.criteria}}

					//- Active and View options needs to play wiht form reset
					//- div(id="answer_choice_div" ng-if="assessment.edit_control===current_user.role").bottom-padding-med
					//- 	legend Choose one of the following answers:
					//- 	ng-form(name="answer_choice_form" required)
					//- 		.form-group.left-padding-lg(ng-repeat="choice in question.question_choices" required)
					//- 			input(type="radio" name="choice.choice_name" value="{{choice.order}}" checked="" ng-model="answer[current_user.role + '_score']")
					//- 			text.left-padding-med {{choice.criteria}}
					//- div(id="answer_choice_div" ng-if="assessment.edit_control!==current_user.role").bottom-padding-med
					//- 	legend Choose one of the following answers:
					//- 	ng-form
					//- 		.form-group.left-padding-lg(ng-repeat="choice in question.question_choices")
					//- 			input(type="radio" name="choice.choice_name" value="{{choice.order}}" checked="" ng-model="answer[current_user.role + '_score']" disabled)
					//- 			text.left-padding-med {{choice.criteria}}
					
					div(id="comments_div").bottom-padding-med
						legend General comments:

						div(id="prev_comments_div" ng-if="answer.comments.length===0")
							.row.left-padding-lg
								.row
									b Joe Blow (Researcher):
								.row.col-md-11 receding math- pre- carbon euro-pop lights wonton soup shrine crypto- realism. tiger-team footage physical paranoid rebar futurity corporation construct voodoo god post-. futurity paranoid construct into rebar camera hotdog vinyl shanty town corporation. gang beef noodles shrine DIY post- hotdog bridge kanji man dome. saturation point shanty town RAF girl table modem warehouse wonton soup drone shrine. 
								.row.col-md-offset-9.col-md-3
									date
										small
											em 12/15/2014 @ 3:52pm
							.row.left-padding-lg
								.row
									b Joe Blow (Researcher):
								.row.col-md-11 receding math- pre- carbon euro-pop lights wonton soup shrine crypto- realism. tiger-team footage physical paranoid rebar futurity corporation construct voodoo god post-. futurity paranoid construct into rebar camera hotdog vinyl shanty town corporation. gang beef noodles shrine DIY post- hotdog bridge kanji man dome. saturation point shanty town RAF girl table modem warehouse wonton soup drone shrine. 
								.row.col-md-offset-9.col-md-3
									date
										small
											em 12/15/2014 @ 3:52pm
						div(id="prev_comments_div" ng-if="answer.comments.length!==0")
							.row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
								.row
									b {{comment.author_name}} (
									b {{comment.role}}
									b ):
								.row.col-md-11 {{comment.content}}
								.row.col-md-offset-9.col-md-3
									date
										small
											em {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
						br
						div(id="new_comment_div").bottom-padding-med
							ng-form(name="new_comment_form")
								.form-group.top-padding-med
									.row.left-padding-lg
										label.col-md-1 New comment
										.col-md-8
											textarea.form-control(name="comment" type="text" ng-model="question.new_comment" required)
										.col-md-1
											button.btn.btn-success(ng-click="commentSubmit(current_user)" ng-disabled="new_comment_form.$invalid") Submit comment
						
					div(id="bibliography").bottom-padding-med
						legend Bibliograpical citations:
						div(id="prev_bib")
							.row.left-padding-lg(ng-repeat="citation in answer.citations")
								.row
									text Uploaded by {{citation.upload_user_id}} on {{citation.upload_date | date}}
									text Originally found at {{citation.upload_URL}}
								.row
									b Author: 
									text {{citation.citation.authors}}
								.row
									b Title: 
									text {{citation.citation.title}}
								.row
									b Published: 
									text {{citation.citation.publish_year}}
								.row.col-md-11
									a(href="{{citation.upload_URL}}") View here
								.row.col-md-11
									em Comment:
									text  {{citation.note.content}}
								.row.col-md-offset-8.col-md-3
									date
										small
											text {{citation.note.author_name}}
											em {{citation.note.date | date}}

						div(id="new_bib").bottom-padding-med
							ng-form(name="new_citation_form")
								.row.left-padding-med
									.col-md-9
										b New document:
									.pull-right.col-md-3
										div(flow-init="{target: '/upload'}", flow-files-submitted="$flow.upload()", flow-file-success="$file.msg = $message")
											input(type='file' flow-btn)
											div(class="alert" flow-drop) Drag And Drop your file here
										
										//- form(ng-controller="uploader")
											//- input(type="file", name="citation_file", ng-model="file_upload")
												//- button.btn.btn-success.btn-file(ng-click="fileUpload()") Select File
												li {{file_upload.name}}
								.form-group.top-padding-med
									.row.left-padding-lg.bottom-padding-med
										label.col-md-2 Citation:
									p first name
									//- | &nbsp;
									p last name
									p title
									p published publish year
									p comments

									//- .col-md-9.col-md-offset-1
									//- 	input.form-control(name="citation", type="text")
								//- 	.row.left-padding-lg
								//- 		label.col-md-2 Comment:
								//- 		.col-md-9
								//- 			textarea.form-control(name="citationComment", type="text")
					div(id="validation").bottom-padding-med
						legend Validation:
						div(id="currentValidation")
							.row.left-padding-lg
								ul
									li {role} {agrees/disagrees} with {other role}
							.row.top-padding-med.left-padding-lg
								b Do you agree with the {other role}?
								.form-group.left-padding-lg
									input(type="radio", name="agreeement_choice", value="1", checked="")
									text.left-padding-med Agree
									br
									input(type="radio", name="agreeement_choice", value="1", checked="")
									text.left-padding-med Disagree