.container-fluid.page-container
    .well
        div.page-well
            legend.h3.page-header
                text(ng-if="current_user.isSupervisor()") Assessment Status Dashboard
                text(ng-if="!current_user.isSupervisor()") Open Assessments
            div.left-padding-lg.right-padding-lg.top-padding-med
                .row.pull-left.left-padding-lg.right-padding-lg(ng-if="current_user.isSupervisor()")
                    .btn.btn-success(ng-click="newAssessmentDialog()") Deploy Assessment
                .pull-right
                    form.form-inline
                        .form-group
                            input.form-control(ng-model="search_text", placeholder="Filter")
                        .form-group.margin-left-med
                            select.form-control(ng-model="sort_order", ng-options="item.value as item.text for item in sort_options")
            rgi-assessments-list-table