.container
	.well
		img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase}}/vector.svg")
		legend {{assessment.country}}
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")

		.pull-left.left-padding-lg.bottom-padding-lg
			.row
				text Researcher:
				a(href="mailto:{{assessment.researcher.email}}")  {{assessment.researcher.firstName}}  {{assessment.researcher.lastName}}
			.row
				text Reviewer:
				a(href="mailto:{{assessment.reviewer.email}}")  {{assessment.reviewer.firstName}}  {{assessment.reviewer.lastName}}
			.row
				text Status: {{assessment.status | capitalize}}
			.row
				text {{assessment.status | capitalize}} by 
				a(href="mailto:{{assessment.assigned_by.email}}") {{assessment.assigned_by.firstName}} {{assessment.assigned_by.lastName}} 
				text on 
				em {{assessment.assignment.assigned_date | date}}
			.row
				text Last edited by 
				a(href="mailto:{{assessment.edited_by.email}}")  {{assessment.edited_by.firstName}}  {{assessment.edited_by.lastName}} 
				text on 
				span(ng-repeat="mod in assessment.modified")
					em(ng-show="$last") {{mod.modified_date | date}}
			.row
				text Number of questions complete: {{assessment.questions_complete}}
			
		table.table.table-hover.table-striped.table-condensed
			thead
				tr
					th.col-md-1.text-center Question number
					th.col-md-1 Component
					th.col-md-5.text-center Question
					th.col-md-1 Status
					th.col-md-1.text-center 
			tbody
				tr(ng-repeat="answer in answers | filter: searchText | orderBy:sortOrder")
					//- tr(ng-repeat="answer in answers | filter: searchText | orderBy:sortOrder")
					td.col-md-1.text-center {{answer.question_order}}
					td.col-md-1 {{answer.component_text}}
					td.col-md-5 {{answer.question_text}})
					td
						text {{answer.status | capitalize}}
					td
						a.btn.center-block.btn-default(href="/assessments/assessment-view/{{answer.answer_ID}}", ng-if="answer.status!='assigned' && answer.status!='started'") View answer
						a.btn.center-block.btn-success(href="/assessments/assessment-edit/{{answer.answer_ID}}", ng-if="answer.status=='assigned' || answer.status=='started'") Edit question

					//- td(ng-if="answer.status='assigned'")
					//- td 
					//- 	a(href="/assessments/assessment/{{answer.answer_ID}}") {{answer.question_text.question_text}}
				
			//- 	a(href="") {{answer.question_text.question_text}}

			//- 	question_order
			//- 	component
			//- 	status
			//- 	question_text



			//- tbody
			//- 	tr(ng-repeat="assessment in assessments | filter: searchText | orderBy:sortOrder")
			//- 		//- th {{assessment}}
			//- 		td(ng-if="assessment.status=='assigned'") {{assessment.country}}
			//- 		td(ng-if="assessment.status!='assigned'")
			//- 			a(href="/assessments/assessment/{{assessment.assessment_ID}}") {{assessment.country}}
			//- 		td
			//- 			a(href="mailto:{{assessment.researcher.email}}") {{assessment.researcher.firstName}} {{assessment.researcher.lastName}}
			//- 		td 
			//- 			a(href="mailto:{{assessment.reviewer.email}}") {{assessment.reviewer.firstName}} {{assessment.reviewer.lastName}}
			//- 		td(ng-if="!assessment.start_date") Not started
			//- 		td(ng-if="assessment.start_date") {{assessment.start_date | date}}
			//- 		td(ng-if="!assessment.submit_date") Not submitted
			//- 		td(ng-if="assessment.submit_date") {{assessment.submit_date | date}}
			//- 		td(ng-if="!assessment.review_date") Not reviewed
			//- 		td(ng-if="assessment.review_date") {{assessment.review_date | date}}
			//- 		td(ng-if="!assessment.approval_date") Not approved
			//- 		td(ng-if="assessment.approval_date") {{assessment.approval_date | date}}
			//- 		td(ng-if="!assessment.last_edit") Not started
			//- 		td(ng-if="assessment.last_edit") {{assessment.last_edit | date}}
			//- 		td {{assessment.status}}
			//- 		td(ng-if="assessment.status=='assigned'")
			//- 			button.btn.btn-success(ng-click="assessmentStart(assessment)") Start assessment
			//- 		//- 	//- a.btn.center-block.btn-default(href="/assments/assessment/{{assessment.assessment_ID}}001") Start assessment
			//- 		td.text-center(ng-if="assessment.status!='assigned'") {{assessment.quesions_complete}}