div.top-padding-med
	.well
		legend New Document Upload:
		.row.left-padding-lg
			div.fileUpload.btn.btn-default
				span Select File
				input.upload(type="file" nv-file-select uploader="uploader")
			div(ng-if="uploader.queue.length>0")
				h3 Upload queue
				p Queue length: {{ uploader.queue.length }}
				table.table
					thead
						tr
							th(width="50%") Name
							th(ng-show="uploader.isHTML5") Size
							th(ng-show="uploader.isHTML5") Progress
							th Status
							th Actions

					tbody
						tr(ng-repeat="item in uploader.queue")
							td
								strong {{ item.file.name }}
							td(ng-show="uploader.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
							td(ng-show="uploader.isHTML5")
								div.progress(style="margin-bottom: 0;")
									div.progress-bar(role="progressbar" ng-style="{ 'width': item.progress + '%' }")
							td.text-center
								span(ng-show="item.isSuccess")
									i.glyphicon.glyphicon-ok
								span(ng-show="item.isCancel")
									i.glyphicon.glyphicon-ban-circle
								span(ng-show="item.isError")
									i.glyphicon.glyphicon-remove
							td(nowrap)
								button.btn.btn-success.btn-xs(type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
									span.glyphicon.glyphicon-upload Upload
								| &nbsp;
								button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="!item.isUploading")
									span.glyphicon.glyphicon-ban-circle Cancel
								| &nbsp;
								button.btn.btn-danger.btn-xs(ng-click="item.remove()")
									span.glyphicon.glyphicon-trash Remove


			//- .form-horizontal
			//- 	form.form-horizontal(name="reassignAssessment")
			//- 		fieldset
			//- 			.row
			//- 				label.col-md-4  Action
			//- 				.form-group.col-md-8
			//- 					select.form-group.form-control.right-padding-med(name="action" ng-model="action" required)
			//- 						option(value="" selected disabled) Select action
			//- 						option(ng-repeat="opt in workflowOpts" value="{{opt.value}}" ng-if="opt.value!==''") {{opt.text}}
			//- 						//- option(ng-repeat="opt in workflowOpts" value="{{opt.value}}" ng-if="opt.value===''" disabled text-decoration="line-through") {{opt.text}} (needs finalization)
			//- 			.row.top-padding-lg
			//- 				button.btn.btn-success(ng-click="assessmentMove()" ng-disabled="reassignAssessment.$invalid") Confirm action
			//- 				| &nbsp;
			//- 				button.btn.btn-danger(ng-click="closeDialog()") Cancel