div
    div.modal-header
        h4 Are you sure you want to delete this question?
    //div.modal-body
    div.modal-footer
        button.btn.btn-danger(ng-click="deleteQuestion()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel
