.container-fluid.page-container
    .well
        div.page-well
            legend.h3.page-header Document Admin Dashboard
            div.left-padding-lg.right-padding-lg: rgi-document-table
            div(infinite-scroll='loadMoreDocs()' infinite-scroll-distance='50')