.container.top-padding-med
	.well
		form.form-horizontal(name='profileForm')
			fieldset
				legend Question {{question.question_order}}. {{question.question_text}}
				.row.top-padding-med
					label.col-md-2.control-label Question Text
					.col-md-10
						textarea.form-control(name="question_text", type="textbox", ng-model="question.question_text", required)

				.row.top-padding-med
					label.col-md-2.control-label(form="order") Question Order
					.col-md-1
						input.form-control(name="order", type="text", ng-model="question.question_order", required)
					label.col-md-2.control-label(form="component") Component
					.col-md-7
						select.form-control(ng-model="question.component", ng-options="item.value as item.text for item in componentOptions", required)				

				.row.top-padding-lg
					.col-md-2
						b
							p.text-right Option Value
					.col-md-10
						b
							p Option Text
				.row
					.form-group(ng-repeat="choice in question.question_choices")
						.col-md-1
						.col-md-1
							input.form-control(name="choiceOrder", type="text", ng-model="choice.order", required)
						//- label.col-md-2.control-label(form="choice") {{choice.order}}
						//- input.form-control(form="choiceOrder") {{choice.order}}
						.col-md-8
							textarea.form-control(name="choice", type="textbox", ng-model="choice.criteria", required)
						.col-md-1
							//- button.btn.btn-danger(ng-click="optionDelete($index)", ng-disabled="") Delete
							button.btn.btn-danger(ng-click="optionDelete($index)", ng-disabled="question.question_choices.length==1") Delete
					.form-group.top-padding-med
						.col-md-8.col-md-offset-2
							.pull-left
								button.btn.btn-success(ng-click="questionOptionAdd()") Add Option
							.pull-right
								button.btn.btn-primary(ng-click="questionUpdate()", ng-disabled="profileForm.$invalid") Submit
								| &nbsp;
								button.btn.btn-danger(ng-click="questionDelete()", ng-disabled="") Delete
								| &nbsp;
								a.btn.btn-default(href="/") Cancel

				div.top-padding-med(id="comments")
						legend NRGI Comments:
						div(id="prevComments")
							.row.left-padding-lg
								.row
									b Joe Blow (Researcher):
								.row.col-md-11 receding math- pre- carbon euro-pop lights wonton soup shrine crypto- realism. tiger-team footage physical paranoid rebar futurity corporation construct voodoo god post-. futurity paranoid construct into rebar camera hotdog vinyl shanty town corporation. gang beef noodles shrine DIY post- hotdog bridge kanji man dome. saturation point shanty town RAF girl table modem warehouse wonton soup drone shrine. 
								.row.col-md-offset-8.col-md-3
									date
										small
											em 12/15/2014 @ 3:52pm (UTC)
						div(id="newComment")
							.form-group.top-padding-med
								.row.left-padding-lg
									label.col-md-2 New comment
									.col-md-9
										textarea.form-control(name="comment", type="text")
						

			//- fieldset
			//- 	legend Comments: 
			//- 		.form-group
			//- 			.col-md-1
			//- 			.col-md-1
			//- 				//- input.form-control(name="choiceOrder", type="text", ng-model="choice.order", required)
			//- 				input.form-control

