.navbar-right(ng-controller="rgiNavBarLoginCtrl")
  //- login form -- hiden when logged in
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control(placeholder="Username", ng-model="username")
    .form-group
      input.form-control(type="password", placeholder="Password", ng-model="password")
    button.btn.btn-primary(ng-click="signin(username, password)") Sign In
    //- ADD FORGOT PASSWORD FUNCTIONALITY
    //- button.btn.btn-primary(ng-click="") Forgot Password

  //- nav bar elements viewable by authenticated users
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")

    //- Assessments user
    ul.nav.navbar-nav(ng-hide="identity.currentUser.isSupervisor()")
      li
        a(href="/assessments") Assessments
    //- Admin assessments dashboard
    ul.nav.navbar-nav(ng-show="identity.currentUser.isSupervisor()")
      //- li
      //-   a(href="/admin/assessments/assessment-dashboard") Assessment Dashboard
      li
        a(href="/admin/assessment-admin") Assessment Admin

    //- Supervisor's admin dropdown
    ul.nav.navbar-nav.dropdown
      li.dropdown(ng-show="identity.currentUser.isSupervisor()")
        a.dropdown-toggle(href="", data-toggle="dropdown") Admin
          b.caret
        ul.dropdown-menu
          li
            a(href="/admin/create-user") Create User
          li
            a(href="/admin/user-admin") User Admin
          li
            a(href="/admin/question-admin") Questions Admin
          //- li
          //-   a(href="/admin/assessment-admin") Assessment Admin
      
    //- Users's dropdown to log out and change profile
    ul.nav.navbar-nav.dropdown
      li.dropdown
        a.dropdown-toggle(href="", data-toggle="dropdown")
          | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
          b.caret
        ul.dropdown-menu
          li
            a(href='/profile') Profile
          li
            a(href="", ng-click="signout()") Sign Out
