doctype
html
	head
		title RGI Assessment Tool
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/site.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
	base(href="/")
	body(ng-app="app")
		block main-content
		include scripts
	//- body(ng-app='app')
	//- 	block main-content
	//- 	include scripts