doctype
html
    head
        title RGI Assessment Tool
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/ngDialog-theme-flat.css")
        link(rel="stylesheet" href="/vendor/textAngular/dist/textAngular.css")
        link(rel="stylesheet" href="/vendor/angucomplete/angucomplete.css")
        link(rel="stylesheet" href="/vendor/angular-bootstrap/ui-bootstrap-csp.css")
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/ngDialog/css/ngDialog.css")
        link(rel="stylesheet" href="/vendor/ngDialog/css/ngDialog-theme-default.css")
        link(rel="stylesheet" href="/vendor/ngDialog/css/ngDialog-theme-plain.css")
        link(rel="stylesheet" href="/vendor/angular-tablesort/tablesort.css")
        link(rel="stylesheet" href="/vendor/toastr/toastr.css")
        link(rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css")

angucomplete-alt
    base(href="/")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts
