//- GEN SCRIPTS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/rgiNotifier.js")
script(type="text/javascript", src="/app/main/rgiMainCtrl.js")

//- SERVICES
script(type="text/javascript", src="/app/services/rgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/rgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/rgiUserSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserListSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiAssessmentSrvc.js")
script(type="text/javascript", src="/app/services/rgiAssessmentMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiAnswerSrvc.js")
script(type="text/javascript", src="/app/services/rgiAnswerMethodSrvc.js")
script(type="text/javascript", src="/app/services/ApiSrvc.js")

script(type="text/javascript", src="/app/rgiAnswerCtrl.js")
script(type="text/javascript", src="/app/boliviaCtrl.js")

//- script(type="text/javascript", src="/app/services/ApiSrvc.js")


//- ACCT CTRLS
script(type="text/javascript", src="/app/account/rgiNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/rgiProfileCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/rgiCreateUserCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminUpdateCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminUpdateCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminAssignCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminUpdateCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentDashboardCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentDashboardDetailCtrl.js")

//- USER CTRLS
script(type="text/javascript", src="/app/user/assessments/rgiAssessmentsListCtrl.js")
script(type="text/javascript", src="/app/user/assessments/rgiAssessmentDetailCtrl.js")