//- GEN SCRIPTS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")
script(type="text/javascript", src="/vendor/ng-form-group/index.js")
script(type="text/javascript", src="/vendor/ng-csv/build/ng-csv.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/rgiNotifier.js")
script(type="text/javascript", src="/app/common/rgiUtils.js")
script(type="text/javascript", src="/app/main/rgiMainCtrl.js")

//- SERVICES
script(type="text/javascript", src="/app/services/rgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/rgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/rgiUserSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserListSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionTextSrvc.js")
script(type="text/javascript", src="/app/services/rgiAssessmentSrvc.js")
script(type="text/javascript", src="/app/services/rgiAssessmentMethodSrvc.js")
script(type="text/javascript", src="/app/services/rgiAnswerSrvc.js")
script(type="text/javascript", src="/app/services/rgiAnswerMethodSrvc.js")

//- script(type="text/javascript", src="/app/services/ApiSrvc.js")


//- ACCT CTRLS
script(type="text/javascript", src="/app/account/rgiNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/rgiProfileCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/rgiCreateUserCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminAssignCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/assessmentDialogCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminSubsCtrl.js")
script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminDetailCtrl.js")

//- USER CTRLS
script(type="text/javascript", src="/app/assessments/rgiAssessmentsListCtrl.js")
script(type="text/javascript", src="/app/assessments/rgiAssessmentDetailCtrl.js")
script(type="text/javascript", src="/app/assessments/rgiAnswerCtrl.js")
