//- VENDORS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/jquery-ui/jquery-ui.min.js")
script(type="text/javascript", src="/vendor/jquery-truncate-html/jquery.truncate.js")
script(type="text/javascript", src="/redactor/redactor.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/angucomplete/angucomplete.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/angular-file-upload/angular-file-upload.js")
script(type="text/javascript", src="/vendor/angular-filter/dist/angular-filter.js")
script(type="text/javascript", src="/vendor/angular-redactor/angular-redactor-9.x.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.js")
script(type="text/javascript", src="/vendor/ng-csv/build/ng-csv.js")
script(type="text/javascript", src="/vendor/ng-form-group/index.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")
script(type="text/javascript", src="/vendor/ngInfiniteScroll/build/ng-infinite-scroll.js")
script(type="text/javascript", src="/vendor/ta-maxlength/ta-maxlength.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/textAngular/dist/textAngular-rangy.min.js")
script(type="text/javascript", src="/vendor/textAngular/dist/textAngular-sanitize.min.js")
script(type="text/javascript", src="/vendor/textAngular/dist/textAngular.min.js")
script(type="text/javascript", src="/vendor/underscore/underscore-min.js")
script(type="text/javascript", src="/vendor/angular-underscore/angular-underscore.min.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/rgiNotifier.js")
script(type="text/javascript", src="/app/common/rgiFilters.js")
script(type="text/javascript", src="/app/common/rgiUtilsSrvc.js")
script(type="text/javascript", src="/app/main/rgiMainCtrl.js")
script(type="text/javascript", src="/app/main/rgiContactTechCtrl.js")
script(type="text/javascript", src="/app/main/rgiResourcesCtrl.js")

//- SERVICES
script(type="text/javascript", src="/app/services/rgiAnswerSrvc.js")
script(type="text/javascript", src="/app/services/rgiAssessmentSrvc.js")
script(type="text/javascript", src="/app/services/rgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/rgiAuthLogsSrvc.js")
script(type="text/javascript", src="/app/services/rgiContactTechSrvc.js")
script(type="text/javascript", src="/app/services/rgiCountrySrvc.js")
script(type="text/javascript", src="/app/services/rgiDocumentSrvc.js")
script(type="text/javascript", src="/app/services/rgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/rgiIntervieweeSrvc.js")
script(type="text/javascript", src="/app/services/rgiPreceptGuideSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionSrvc.js")
script(type="text/javascript", src="/app/services/rgiQuestionTextSrvc.js")
script(type="text/javascript", src="/app/services/rgiResetPasswordSrvc.js")
script(type="text/javascript", src="/app/services/rgiResourcesSrvc.js")
script(type="text/javascript", src="/app/services/rgiUploadSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserSrvc.js")
script(type="text/javascript", src="/app/services/rgiUserListSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiAllowedFileExtensionGuideSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiAssessmentRolesGuideSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiAssessmentStatisticsGuideSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiFileUploaderSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiQuestionSetSrvc.js")
script(type="text/javascript", src="/app/services/utils/rgiRequestSubmitterSrvc.js")

// METHODS
script(type="text/javascript", src="/app/services/methods/rgiAnswerMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiAssessmentMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiContactMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiDocumentMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiIntervieweeMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiQuestionMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiResourcesMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiUploadMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/rgiUserMethodSrvc.js")

//- DIRECTIVES
script(type="text/javascript", src="/app/directives/directives/rgi-active-answer-buttons.js")
script(type="text/javascript", src="/app/directives/directives/rgi-answer-form.js")
script(type="text/javascript", src="/app/directives/directives/rgi-answer-nav.js")
script(type="text/javascript", src="/app/directives/directives/rgi-assessment-detail-table.js")
script(type="text/javascript", src="/app/directives/directives/rgi-assessments-list-table.js")
script(type="text/javascript", src="/app/directives/directives/rgi-auth-logs.js")
script(type="text/javascript", src="/app/directives/directives/rgi-biblio-form.js")
script(type="text/javascript", src="/app/directives/directives/rgi-comments.js")
script(type="text/javascript", src="/app/directives/directives/rgi-document-table.js")
script(type="text/javascript", src="/app/directives/directives/rgi-flag-tabs.js")
script(type="text/javascript", src="/app/directives/directives/rgi-external-answer-tabs.js")
script(type="text/javascript", src="/app/directives/directives/rgi-interviewee-table.js")
script(type="text/javascript", src="/app/directives/directives/rgi-prev-answers.js")
script(type="text/javascript", src="/app/directives/directives/rgi-question-table.js")
script(type="text/javascript", src="/app/directives/directives/rgi-user-table.js")
script(type="text/javascript", src="/app/directives/draggable-dialog.js")

//- DIRECTIVE CTRLS
script(type="text/javascript", src="/app/directives/controllers/rgiActiveAnswerButtonsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiAnswerFormCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiAnswerNavCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiAssessmentsListTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiAssessmentDetailTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiAuthLogsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiBiblioFormCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiCommentsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiDocumentTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiFlagTabsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiExternalAnswerTabsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiIntervieweeTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiPrevAnswersCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiQuestionTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/rgiUserTableCtrl.js")

//- ACCT CTRLS
script(type="text/javascript", src="/app/account/rgiNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/rgiProfileCtrl.js")
script(type="text/javascript", src="/app/account/rgiRecoverPasswordCtrl.js")
script(type="text/javascript", src="/app/account/rgiResetPasswordCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/rgiUserCreateCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/rgiUserAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminCtrl.js")
script(type="text/javascript", src="/app/admin/questions/rgiQuestionAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/documents/rgiDocumentAdminCtrl.js")
script(type="text/javascript", src="/app/admin/documents/rgiDocumentAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/interviewees/rgiIntervieweeAdminCtrl.js")
script(type="text/javascript", src="/app/admin/interviewees/rgiIntervieweeAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/resources/rgiResourcesAdminCtrl.js")


//- GENERAL CTRLS
script(type="text/javascript", src="/app/assessments/rgiAssessmentsListCtrl.js")
script(type="text/javascript", src="/app/assessments/rgiAssessmentDetailCtrl.js")
script(type="text/javascript", src="/app/answers/rgiAnswerCtrl.js")

//- DIALOG CTRLS
script(type="text/javascript", src="/app/dialogs/rgiDialogFactory.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiAssignAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiAssignAssessmentExternalDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiAssignExternalToAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiMoveAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiMoveAssessmentConfirmationDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiNewAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiSubmitAssessmentConfirmationDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/rgiResubmitAssessmentConfirmationDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/answers/rgiFinalChoiceDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/answers/rgiGuidanceDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/comments/rgiCommentEditDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/flags/rgiFlagAnswerDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/flags/rgiFlagEditDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/questions/rgiNewQuestionDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/questions/rgiDeleteQuestionDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiEditDocumentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiEditIntervieweeDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiNewRefDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiDeleteRefDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiNewDocumentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/rgiNewWebpageDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/resources/rgiDeleteResourceDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/resources/rgiNewResourceDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/users/rgiDeleteUserDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/users/rgiEditUserDialogCtrl.js")

////STASH
//script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminCtrl.js")
//script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminDetailCtrl.js")
//script(type="text/javascript", src="/app/admin/assessments/rgiFinalChoiceDialogCtrl.js")
//script(type="text/javascript", src="/app/admin/assessments/rgiAssessmentAdminDetailCtrl.js")
//script(type="text/javascript", src="/app/researchers/answers/rgiAnswerCtrl.js")
//script(type="text/javascript", src="/app/assessments/researchers/rgiAssessmentsListCtrl.js")
//script(type="text/javascript", src="/app/assessments/researchers/rgiAssessmentDetailCtrl.js")