.container-fluid.page-container
    .well
        div.page-well
            .h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment
            ul.nav.nav-tabs
                li.active: a(data-target="#question" data-toggle="tab") Question
                li: a(data-target="#guidance" data-toggle="tab") Question Guidance
                .row-fluid.right-padding-lg
                    rgi-answer-nav(
                    assessment="assessment"
                    ng-if="assessment.status!=='trial_started'")
                    div(ng-if="current_user.role!=='supervisor'")
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-ok-circle(ng-if="['resubmitted', 'submitted'].indexOf(answer.status) > -1")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-check(ng-if="answer.status==='approved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-primary.glyphicon.glyphicon-floppy-disk(ng-if="answer.status==='saved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-danger.glyphicon.glyphicon-flag(ng-if="answer.status==='flagged'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg(ng-if="answer.status==='unresolved'")
                        text.pull-right.right-padding-lg(ng-if="answer.status==='assigned'")
                    div(ng-if="current_user.role==='supervisor'")
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-ok-circle(ng-if="answer.status==='approved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-danger.glyphicon.glyphicon-flag(ng-if="['flagged', 'unresolved'].indexOf(answer.status) > -1")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-primary.glyphicon.glyphicon-floppy-disk(ng-if="answer.status==='saved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-warning(ng-if="answer.status==='submitted'") {{answer.status | ucfirst}}

            div.tab-content

                div.tab-pane.active.right-padding-lg.left-padding-lg(id="question")
                    .row.bottom-padding-med
                        h3: em.bottom-padding-med.col-md-11 Question {{question.question_label}}: {{question.question_text}}
                            text(ng-if="question.dejure")  (Dejure)
                            text(ng-if="!question.dejure")  (Defacto)
                        //i.glyphicon.glyphicon-question-sign(
                        //popover-template="dynamicPopover.templateUrl"
                        //popover-title="Guidance note"
                        //popover-placement="bottom")
                        //script(type="text/ng-template" id="myPopoverTemplate.html")
                        //    div(ng-bind-html="question.question_guidance_text")

                    // Previous answers
                    .row.bottom-padding-med
                        rgi-prev-answers(answer="answer")

                    // Active buttons
                    .row.bottom-padding-lg
                        rgi-active-answer-buttons

                    .row(ng-if="answer.flags.length!==0 && ((['flagged', 'unresolved'].indexOf(answer.status) > -1) || current_user.isSupervisor())")
                        rgi-flag-tabs

                    // Answer form
                    .row.bottom-padding-med(ng-if="assessment.edit_control===current_user._id")
                        rgi-answer-form

                    // Biblio
                    .row.bottom-padding-lg
                        rgi-biblio-form

                    // Comments
                    .row.bottom-padding-med
                        rgi-comments(update="answer")


                div.tab-pane(id="guidance")
                    div(ng-bind-html="question.question_guidance_text").top-padding-lg.right-padding-lg.left-padding-lg
