.container-fluid.page-container
    .well
        .page-well
            .h3 {{::assessment.country}} {{::assessment.year}} {{::assessment.mineral|addSpaces}} {{::assessment.version}} assessment
            ul.nav.nav-tabs
                li.active: a(data-target="#question" data-toggle="tab") Question
                li: a(data-target="#guidance", data-toggle="tab", ng-if="!identity.currentUser.isViewer()") Question Guidance
                li(ng-if="identity.currentUser.isSupervisor()"): a(data-target="#previous" data-toggle="tab") Answer History
                .row-fluid.right-padding-lg
                    rgi-answer-nav(
                    assessment="assessment"
                    ng-if="assessment.status!=='trial_started'")
                    div(ng-if="identity.currentUser.isResearcher() || identity.currentUser.isReviewer()")
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-ok-circle(ng-if="['resubmitted', 'submitted'].indexOf(answer.status) > -1")  Complete
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-check(ng-if="answer.status==='approved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-primary.glyphicon.glyphicon-floppy-disk(ng-if="answer.status==='saved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-danger.glyphicon.glyphicon-flag.hint(ng-if="answer.status==='flagged'", popover="For resubmission you should first change the choice or upload a new reference", popover-trigger="mouseenter")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg(ng-if="answer.status==='unresolved'")
                        text.pull-right.right-padding-lg(ng-if="answer.status==='assigned'")
                    div(ng-if="identity.currentUser.isSupervisor() || identity.currentUser.isViewer()")
                        text.pull-right.right-padding-lg.text-success.glyphicon.glyphicon-ok-circle(ng-if="['approved', 'final'].indexOf(answer.status) > -1")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-danger.glyphicon.glyphicon-flag(ng-if="['flagged', 'unresolved'].indexOf(answer.status) > -1")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-primary.glyphicon.glyphicon-floppy-disk(ng-if="answer.status==='saved'")  {{answer.status | ucfirst}}
                        text.pull-right.right-padding-lg.text-warning(ng-if="answer.status==='submitted'") Needs review

            .tab-content

                #question.tab-pane.active.right-padding-lg.left-padding-lg
                    .row.bottom-padding-med
                        h3: em.bottom-padding-med.col-md-11 Question {{::question.question_label}}: {{::question.question_text}}
                            text(ng-if="question.dejure")  (Dejure)
                            text(ng-if="!question.dejure")  (Defacto)

                    .row.bottom-padding-med
                        rgi-prev-answers(answer="answer")

                    .row.bottom-padding-lg
                        rgi-active-answer-buttons
                    .row(ng-if="answer.flags.length!==0 && ((['flagged', 'unresolved', 'submitted'].indexOf(answer.status) > -1) || identity.currentUser.isSupervisor()) && !identity.currentUser.isViewer()")
                        rgi-flag-tabs

                    .row(ng-if="answer.external_answer.length!==0")
                        rgi-external-answer-tabs(answer="answer")

                    .row.bottom-padding-med(ng-if="assessment.edit_control === identity.currentUser._id")
                        rgi-answer-form

                    .row.bottom-padding-lg(ng-if="(assessment.edit_control === identity.currentUser._id) || identity.currentUser.isSupervisor() || identity.currentUser.isViewer() || identity.currentUser.isExternalReviewer()")
                        rgi-references

                    .row.bottom-padding-med(ng-if="!identity.currentUser.isViewer()")
                        rgi-comments(update="answer")


                #guidance.tab-pane(ng-if="!identity.currentUser.isViewer()")
                    label: h3 Guidance:
                    .right-padding-lg.left-padding-lg(ng-bind-html="question.question_guidance_text")
                    .right-padding-lg.left-padding-lg(ng-if="question.question_dependancies")
                        label: h5: em Dependencies:
                        div(ng-bind-html="question.question_dependancies")
                #previous.tab-pane(ng-if="identity.currentUser.isSupervisor()")
                    label: h3 Answer History:
                    .row
                        .col-md-6
                            h4 Researcher scores:
                                em(ng-if="answer.researcher_score_history.length < 1")  N/A
                            .small(ng-if="answer.raw_researcher_score_history.length > 0") Last modified on {{::answer.raw_researcher_score_history[answer.raw_researcher_score_history.length - 1].date|date}}
                            table.table.table-hover(ng-if="answer.researcher_score_history.length > 0")
                                thead
                                    tr
                                        th.col-md-3 Score
                                        th.col-md-7 Justification
                                        th.col-md-2 Date
                                tbody
                                    tr(ng-repeat="score in answer.researcher_score_history track by score.order")
                                        td {{::score.score.letter|ucfirst}} - {{::score.score.text}}
                                        td: div(ng-bind-html="score.justification")
                                        td {{::score.date|date}}
                        .col-md-6
                            h4 Reviewer scores:
                                em(ng-if="answer.reviewer_score_history.length < 1")  N/A
                            .small(ng-if="answer.raw_reviewer_score_history.length > 0") Last modified on {{::answer.raw_reviewer_score_history[answer.raw_reviewer_score_history.length - 1].date|date}}
                            table.table.table-hover(ng-if="answer.reviewer_score_history.length > 0")
                                thead
                                    tr
                                        th.col-md-3 Score
                                        th.col-md-7 Justification
                                        th.col-md-2 Date
                                tbody
                                    tr(ng-repeat="score in answer.reviewer_score_history track by score.order")
                                        td {{::score.score.letter|ucfirst}} - {{::score.score.text}}
                                        td: div(ng-bind-html="score.justification")
                                        td {{::score.date|date}}