.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            //Navigation
            .row.right-padding-lg
                rgi-answer-nav(assessment="assessment")

            legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment
                text.pull-right.right-padding-lg.text-danger(ng-if="answer.status==='flagged'") {{answer.status | ucfirst}}
            div.right-padding-lg.left-padding-lg


                .row.bottom-padding-med
                    h3: em.bottom-padding-med.col-md-11 Question {{answer.question_order}}. {{answer.question_text}}
                    i.glyphicon.glyphicon-question-sign(
                    ng-if="current_user.role!=='supervisor'"
                    popover-template="dynamicPopover.templateUrl"
                    popover-title="Guidance note"
                    popover-placement="bottom")
                    script(type="text/ng-template" id="myPopoverTemplate.html")
                        div(ng-bind-html="question.question_guidance_text")
                    //i.glyphicon.glyphicon-question-sign(
                    //popover-template="dynamicPopover.templateUrl"
                    //popover-title="Guidance note"
                    //popover-placement="bottom")
                    //script(type="text/ng-template" id="myPopoverTemplate.html")
                    //    div {{answer.guidance_text}}

                // Previous answers
                .row.bottom-padding-med
                    rgi-prev-answers(answer="answer")

                // Active buttons
                .row.bottom-padding-lg
                    rgi-active-answer-buttons

                .row.bottom-padding-lg(ng-if="answer.flags.length!==0")
                    rgi-flag-tabs

                // Answer form
                .row.bottom-padding-med(ng-if="assessment.edit_control===current_user._id")
                    rgi-answer-form

                // Comments
                .row.bottom-padding-med
                    rgi-comments(update="answer")

                // Biblio
                .row.bottom-padding-lg
                    rgi-biblio-form