div.left-padding-lg.right-padding-lg
    div.modal-header
        h3
    div.modal-body
    div.modal-footer

div.left-padding-lg.right-padding-lg
    h2 New document reference
    .row(id="new_document_form")
        .form-horizontal
            fieldset
                // NEW DOC
                h4 New document
                div.bottom-padding-med
                    div.fileUpload.btn.btn-default
                        span Select File
                        input.upload(type="file" nv-file-select uploader="uploader" ng-disabled="fileUploading")
                h5 OR
                .form-group
                    .col-md-8
                        input.form-control(
                        type="text"
                        placeholder="File URL"
                        ng-model="fileUrl")
                    .col-md-4
                        input.btn.btn-default(type="button", value="Upload", ng-click="uploadFileByUrl()", ng-disabled="fileUploading || (fileUrl.length == 0)")
                div.row.right-padding-lg.left-padding-lg(ng-if="uploader.queue.length>0")
                    table.table
                        thead
                            tr
                                th
                                    h4 Name
                                th(ng-show="uploader.isHTML5")
                                    h4 Size
                                th(ng-show="uploader.isHTML5")
                                    h4 Progress
                                th
                                    h4 Status
                                th
                                    h4 Actions
                        tbody
                            tr(ng-repeat="item in uploader.queue")
                                td
                                    h6(ng-if="!new_document")
                                        strong {{ item.file.name }}
                                    h6
                                        strong
                                            a(ng-if="new_document" href="{{new_document.s3_url}}" target="_blank") {{ item.file.name }}
                                td(ng-show="uploader.isHTML5" nowrap)
                                    h6 {{ item.file.size/1024/1024|number:2 }} MB
                                td(ng-show="uploader.isHTML5")
                                    div.progress(style="margin-bottom: 0;")
                                        div.progress-bar(role="progressbar" ng-style="{ 'width': item.progress + '%' }")
                                td.text-center
                                    span(ng-show="item.isSuccess")
                                        i.glyphicon.glyphicon-ok
                                    span(ng-show="item.isCancel")
                                        i.glyphicon.glyphicon-ban-circle
                                    span(ng-show="item.isError")
                                        i.glyphicon.glyphicon-remove
                                td(nowrap)
                                    button.btn.btn-success.btn-xs(type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                        span.glyphicon.glyphicon-upload Upload
                                    | &nbsp;
                                    button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="!item.isUploading")
                                        span.glyphicon.glyphicon-ban-circle Cancel
                                    | &nbsp;
                                    button.btn.btn-danger.btn-xs(ng-click="item.remove()")
                                        span.glyphicon.glyphicon-trash Remove
