div.left-padding-lg.right-padding-lg.top-padding-med.bottom-padding-med
   .row
      text Are you sure you want to submit this assessment?
   .row.top-padding-med
      .col-md-10.col-md-offset-2
         .pull-right
            a.btn.btn-danger(ng-click="userDelete()") Confirm
            | &nbsp;
            a.btn.btn-default(ng-click="closeDialog()") Cancel
