.container.top-padding-med
	.well
		form.form-horizontal(name='createUserForm')
			fieldset
				legend New User Information
				.form-group
					label.col-md-2.control-label(form="fname") First Name
					.col-md-10
						input.form-control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
				.form-group
					label.col-md-2.control-label(form="lname") Last Name
					.col-md-10
						input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
				.form-group
					label.col-md-2.control-label(form="username") Username
					.col-md-10
						input.form-control(name="username", type="text", placeholder="Username", ng-model="username", required)
				.form-group
					label.col-md-2.control-label(form="email") Email
					.col-md-10
						input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
				.form-group
					label.col-md-2.control-label(form="password") Password
					.col-md-10
						input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
				.form-group
					label.col-md-2.control-label(form="roles") Roles
					.col-md-10
						select.form-control(ng-model="roleSelect", ng-options="item.value as item.text for item in roleOptions", required)				
				.form-group
					label.col-md-2.control-label(form="address") Address
					.col-md-10
						input.form-control(name="address", type="text", placeholder="Address", ng-model="address", required)
				.form-group
					label.col-md-2.control-label(form="language") Language
					.col-md-10
						input.form-control(name="language", type="text", placeholder="Language", ng-model="language", required)

				
				.form-group
					.col-md-10.col-md-offset-2
						.pull-right
							button.btn.btn-primary(ng-click="userCreate()", ng-disabled="createUserForm.$invalid") Submit
							| &nbsp;
							a.btn.btn-default(href="/") Cancel