.container.top-padding-med
	.well
		legend Assessment tool users
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
		table.table
			thead
				tr
					th Name
					th Username
					th Roles
					th Countries
					th Assigned
					th Started
					th Submitted
					th Reviewed
					th Approved
					th 
					th 
			tbody
				//- Loop through all users
				tr(ng-repeat="user in users | filter:searchText | orderBy:sortOrder")
					td
						a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
					td {{user.username}}
					td 
						p(ng-repeat="role in user.roles")
							text {{role}}
					td
						p(ng-repeat="assessment in user.assessments")
							text {{assessment.country_name}}
					td
						p(ng-repeat="assessment in user.assessments")
							em(ng-if="assessment.details.assignment") {{assessment.details.assignment.assigned_date | date}}
					td
						p(ng-repeat="assessment in user.assessments")
							em(ng-if="assessment.details.start_date") {{assessment.details.start_date.started_date | date}}

					td
						p(ng-repeat="assessment in user.assessments")
							em(ng-if="assessment.details.submit_date") {{assessment.details.submit_date.submitted_date | date}}

					td
						p(ng-repeat="assessment in user.assessments")
							em(ng-if="assessment.details.review_date") {{assessment.details.review_date.reviewed_date | date}}

					td
						p(ng-repeat="assessment in user.assessments")
							em(ng-if="assessment.details.approval") {{assessment.details.approval.approved_date | date}}

					td
						a.btn.center-block.btn-default(href="/admin/user-admin-view/{{user._id}}") View

					td
						a.btn.center-block.btn-default(href="/admin/user-admin-edit/{{user._id}}") Edit