.container-fluid.page-container
    .well
        .page-well(ng-if="user._id !== undefined")
            legend.h3.page-header {{user.firstName}} {{user.lastName}}'s Profile
            .left-padding-lg.right-padding-lg
                .row-fluid
                    button.btn.btn-warning(ng-click="editUserDialog()") Edit user
                    | &nbsp;
                    a(href="mailto:{{user.email}}").btn.btn-default Email
                    | &nbsp;
                    button.btn.btn-danger(ng-click="deleteConfirmDialog()") Delete
                .row-fluid.top-padding-med
                    table.table.table-hover.table-striped.table-condensed
                        thead
                            tr
                                th Linked assessments
                                th Linked interviewees
                                th Linked documents
                        tbody
                            tr
                                td
                                    .row(ng-repeat="assessment in user.assessments").left-padding-lg
                                        a(href="/admin/assessments-admin/{{assessment.assessment_ID}}") {{assessment.assessment_ID}}
                                td
                                    .row(ng-repeat="interviewee in user.interviewees").left-padding-lg {{interviewee}}
                                        //a(href="/admin/assessments-admin/interviewee/{{interviewee}}") {{interviewee}}
                                td
                                    .row(ng-repeat="document in user.document_details").left-padding-lg
                                        a(href="/admin/documents-admin/{{document._id}}") {{document.title}}
                .row-fluid.col-md-3(ng-if="user.isExternalReviewer()")
                    button.btn.btn-block.btn-primary(ng-click="addToAssessment()") Add to assessment
            .left-padding-lg.right-padding-lg
                .top-padding-lg(ng-if="user.isExternalReviewer()")
                h3 Information
                .row-fluid.right-padding-med.left-padding-med
                    table.table.table-condensed
                        tbody
                            tr
                                td.col-med-3
                                    .row
                                        label First name:
                                    .row
                                        text {{user.firstName | ucfirst}}
                                td.col-med-3
                                    .row
                                        label Last name:
                                    .row
                                        text {{user.lastName | ucfirst}}
                                td.col-med-3
                                    .row
                                        label Username:
                                    .row
                                        text {{user.username}}
                            tr
                                td.col-med-3
                                    .row
                                        label Role:
                                    .row
                                        text {{user.role|role|ucfirst}}
                                td.col-med-3
                                    .row
                                        label Email:
                                    .row(ng-if="user.email")
                                        text {{user.email}}
                                    .row(ng-if="!user.email")
                                        text N/A
                                td.col-med-3
                                    .row
                                        label Address:
                                    .row(ng-if="user.address")
                                        text {{user.address}}
                                    .row(ng-if="!user.address")
                                        text N/A
            .left-padding-lg.right-padding-lg
                h3 Login info
                rgi-auth-logs(user="user")