.container.top-padding-med
	.well
		form.form-horizontal(name='profileForm')
			fieldset
				legend {{user.firstName}} {{user.lastName}}'s Profile
				.form-group
					label.col-md-2.control-label(form="") First Name *
					.col-md-10
						input.form-control(name="firstName", type="text", ng-model="user.firstName", required)
				.form-group
					label.col-md-2.control-label(form="lastName") Last Name *
					.col-md-10
						input.form-control(name="lname", type="text", ng-model="user.lastName",required)
				.form-group
					label.col-md-2.control-label(form="username") Username
					.col-md-10
						input.form-control(name="username", type="text", ng-model="user.username", readonly)
				.form-group
					label.col-md-2.control-label(form="email") Email *
					.col-md-10
						input.form-control(name="email", type="email", ng-model="user.email", required)
				.form-group
					label.col-md-2.control-label(form="roles") Roles
					.col-md-10
						input.form-control(name="roles", type="text", ng-model="user.roles", readonly)
				.form-group
					label.col-md-2.control-label(form="address") Address *
					.col-md-10
						input.form-control(name="address", type="text", ng-model="user.address", required)
				.form-group
					label.col-md-2.control-label(form="language") Preferred Language
					.col-md-10
						input.form-control(name="language", type="text", ng-model="user.language")
				.form-group
					label.col-md-2.control-label(form="password") Password
					.col-md-10
						input.form-control(name="password", type="password", ng-model="password")
				.form-group
					label.col-md-2.control-label(form="password") Repeat Password
					.col-md-10
						input.form-control(name="password", type="password", ng-model="password_rep")
				.form-group
					.col-md-10.col-md-offset-2
						.pull-right
							//- button.btn.btn-primary(ng-click="userUpdate()", ng-disabled="signupFormm.$invalid") Submit
							button.btn.btn-primary(ng-click="userUpdate()", ng-disabled="") Submit
							| &nbsp;
							button.btn.btn-danger(ng-click="userDelete()", ng-disabled="") Delete
							| &nbsp;
							a.btn.btn-default(href="/admin/user-admin-view/{{user._id}}") Cancel