.container.top-padding-med
	.well.left-padding-lg.right-padding-lg
		form.form-horizontal(name='profileForm')
			fieldset.left-padding-lg.right-padding-lg
				legend.h3 {{user.firstName}} {{user.lastName}}'s Profile

				.form-group
					.col-md-10.col-md-offset-2
						.pull-right
							a.btn.btn-default(href="/admin/user-admin-edit/{{user._id}}") Edit user
							| &nbsp;
							a.btn.btn-default(href="/admin/user-admin") Cancel
				.row
					label.col-md-2 First Name:
					.col-md-10 {{user.firstName}}
				.row
					label.col-md-2 Last Name:
					.col-md-10 {{user.lastName}}
				.row
					label.col-md-2 Username:
					.col-md-10 {{user.username}}
				.row
					label.col-md-2 Email:
					.col-md-10 {{user.email}}
				.row
					label.col-md-2 Role:
					.col-md-10 {{user.role}}
				.row
					label.col-md-2 Address:
					.col-md-10 {{user.address}}
				.row
					label.col-md-2 Assessments:
					.col-lg-10
						.row.left-padding-med(ng-repeat="assessment in user.assessments" ng-if="user.assessments.length > 0")
							a(href="assessments/{{assessment.assessment_id}}") {{assessment.country_name}} - {{assessment.assessment_id}}
						.row.left-padding-med(ng-if="user.assessments.length < 1") None
				//.row
				//	label.col-md-2 Preferred Language
				//	.col-md-10 {{user.language}}

