.container.top-padding-med
	.well
		legend Assessment tool users
		.pull-right
			form.form-inline
				.form-group
					input.form-control(ng-model="searchText", placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
		table.table
			thead
				tr
					th Name
					th Username
					th Roles
					th Countries
					th Submitted
					th Approved
					th 
			tbody
				//- Loop through all users
				tr(ng-repeat="user in users | filter:searchText | orderBy:sortOrder")
					td
						a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
					td {{user.username}}
					td 
						p(ng-repeat="role in user.roles")
							text {{role}}
					td
						p(ng-repeat="assessment in user.assessments")
							text {{assessment.country_name}}
					td
						p(ng-repeat="country in user.countries")
							text(ng-if="country.submitted==true") Yes
					td
						p(ng-repeat="country in user.countries")
							text(ng-if="country.approved==true") Yes
					td
						a.btn.center-block.btn-default(href="/admin/user-admin/{{user._id}}") Edit