.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3 {{user.firstName}} {{user.lastName}}'s Profile
            div.left-padding-lg.right-padding-lg
                .row.left-padding-lg.right-padding-lg.top-padding-lg
                    button.btn.btn-warning(ng-click="editUserDialog()") Edit user
                    | &nbsp;
                    a(href="mailto:{{user.email}}").btn.btn-default Email
                .row.left-padding-lg.right-padding-lg.top-padding-lg
                    table.table.table-hover.table-striped.table-condensed
                        thead
                            tr
                                th Linked assessments
                                th Linked interviewees
                                th Linked documents
                        tbody
                            tr
                                td
                                    .row(ng-repeat="assessment in user.assessments").left-padding-lg
                                        a(href="/admin/assessment-admin/{{assessment.assessment_ID}}") {{assessment.assessment_ID}}
                                td
                                    .row(ng-repeat="interviewee in user.interviewees").left-padding-lg {{interviewee}}
                                        //a(href="/admin/assessments-admin/interviewee/{{interviewee}}") {{interviewee}}
                                td
                                    .row(ng-repeat="document in user.documents").left-padding-lg {{document}}
                                        //a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
                                        //text  - {{user.role}}
            h3 Information
            div.right-padding-lg
                .row.left-padding-lg.right-padding-lg
                    table.table.table-condensed
                        tbody
                            tr
                                td.col-med-3
                                    .row
                                        label First name:
                                    .row
                                        text {{user.firstName | ucfirst}}
                                td.col-med-3
                                    .row
                                        label Last name:
                                    .row
                                        text {{user.lastName | ucfirst}}
                                td.col-med-3
                                    .row
                                        label Username:
                                    .row
                                        text {{user.username}}
                            tr
                                td.col-med-3
                                    .row
                                        label Role:
                                    .row
                                        text {{user.role | ucfirst}}
                                td.col-med-3
                                    .row
                                        label Email:
                                    .row(ng-if="user.email")
                                        text {{user.email}}
                                    .row(ng-if="!user.email")
                                        text N/A
                                td.col-med-3
                                    .row
                                        label Address:
                                    .row(ng-if="user.address")
                                        text {{user.address}}
                                    .row(ng-if="!user.address")
                                        text N/A
            h3 Login info
            div
                rgi-auth-logs(user="user")