//- answer page
.jumbotron.error-template
	//- .row.col-md-12.error-template
	h1 Oops!
	h2 404 Not Found
			.error-details
				text Sorry, an error has occured, Requested page not found!
			.error-actions
				a.btn.btn-primary.btn-lg(href="http://localhost:3030") Take me home 
					span.glyphicon.glyphicon-home
				| &nbsp;
				a.btn.btn-default.btn-lg(href="http://localhost:3030") Contact support 
					span.glyphicon.glyphicon-envelope
	br
		