.container-fluid.page-container
    .well
        div.page-well
            .h3 Frequently Asked Questions
                hr
            div.left-padding-med.right-padding-med
                div.panel.panel-primary(ng-repeat="faq in resources | orderObjectBy:faq.order")
                    div.panel-heading.bottom-padding-med
                        .panel-title
                            div(
                            role="button"
                            data-toggle="collapse"
                            href="#{{faq._id}}")
                                | {{faq.head}} - {{faq.order}}
                    div.panel-collapse.collapse(id="{{faq._id}}")
                        div.panel-body
                            | {{faq.body}}