.container(ng-controller="rgiNavBarLoginCtrl")
	.jumbotron
		h1 NRGI Resource Governance Index Assessment Tool 2015
		p(ng-show="identity.isAuthenticated()") {{identity.currentUser.firstName}} {{identity.currentUser.lastName}}, welcome to the assessment to RGI Assessment Tool Portal.
		p(ng-show="!identity.isAuthenticated()") Please log in.
		//- text {{identity}}
	//- a.btn.center-block.btn-default(href="/answer-page") Answer page template
	//- a.btn.center-block.btn-default(href="/answer-page-bolivia") Bolivia answer mockup

	//- //- Message based on authentication status
	//- .well(style='text-align: center')
	//- 	h3(ng-hide="identity.isAuthenticated()" ) Please login with the username and password provided
	//- 	h3(ng-show="identity.isAuthenticated()") Welcome {{fullName}}, you are logged in as a {{role}}!
	div(ng-show="identity.isAuthenticated()")
		h4 ADD TRAINING TEXT DOWN HERE
		p sign augmented reality advert construct soul-delay plastic pre- sub-orbital refrigerator spook paranoid papier-mache silent ablative gang numinous dolphin garage Tokyo free-market film denim bridge Shibuya range-rover boat voodoo god footage BASE jump hotdog Legba carbon nodality cardboard narrative order-flow courier bomb jeans industrial grade knife digital dissident dead engine tanto vehicle nodal point math- sunglasses shoes skyscraper urban saturation point hacker towards market realism claymore mine physical j-pop chrome weathered boy Chiba man fetishism kanji -space youtube futurity corporation
		p j-pop apophenia soul-delay corrupted city tiger-team sign realism tanto engine free-market assassin towards cardboard camera singularity spook beef noodles RAF geodesic bicycle sunglasses knife Chiba cartel Shibuya sensory office San Francisco nodal point ablative Tokyo sub-orbital fetishism pistol neon semiotics meta- footage dolphin sprawl claymore mine render-farm grenade face forwards hotdog tattoo physical industrial grade crypto- DIY weathered euro-pop nodality advert rebar marketing katana boy pen franchise computer convenience store shoes wonton soup cyber- decay nano- youtube carbon warehouse concrete
		p tank-traps hacker cardboard assassin post- weathered vehicle dissident meta- Kowloon media geodesic tower jeans nodality fetishism tiger-team lights rifle augmented reality -space decay beef noodles carbon pre- crypto- digital woman assault modem skyscraper concrete marketing urban dome corrupted spook shrine numinous voodoo god convenience store Legba disposable youtube otaku systema receding face forwards tube sprawl DIY into franchise papier-mache corporation RAF garage neon saturation point hotdog bridge realism wonton soup monofilament office engine savant BASE jump dead courier dolphin computer

