.container(ng-controller="rgiNavBarLoginCtrl")
	.jumbotron
		h1 NRGI Resource Governance Index Assessment Tool
		p(ng-show="identity.isAuthenticated()") {{identity.currentUser.firstName}} {{identity.currentUser.lastName}}, welcome to the assessment to RGI Assessment Tool Portal.
		p(ng-show="!identity.isAuthenticated()") Please log in. 

	div(ng-show="identity.isAuthenticated()").left-padding-lg.right-padding-lg
		h4 Welcome to the RGI Assessment tool.
		p The questionnaire consists of 135 questions.
		p You can navigate through the questionnaire by sorting it according to question order or status (i.e. whether you have completed a question or not).
		p For each question, researchers should choose among multiple answer choices. If you select “Partial” as answer criteria, please provide an explanation.
		p Researchers should select the answer choice that seems most applicable and then provide a citation:
		p
			ol(type="1")
				li A URL (for example: https://mem.go.tz/wpcontent/uploads/2014/02/0013_11032013_Mining_Act_2010.pdf) reference or citation to an official document that supports or provides foundation for the researcher’s answer choice, 
				li A reference or citation to an interview with a government official, civil society activist and local industry expert including their phone and email contact details, 
				li A comment providing evidence for the answer chosen, or
				li A reference to relevant newspaper articles, academic papers, books or reports by international institutions.
		p Researchers will also be expected to supply electronic (PDF) versions and/or websites of publicly available key documents used in answering the questionnaire. The information management tool allows researchers to upload these documents or provide relevant web links. These include, but are not limited to:
		p
			ul
				li Legislation
				li Government reports
				li Contracts
				li Environmental and social impact reports
				li Petroleum, Gas and Mining Statistical Reports or Databases
				li Annual and In-Year Reports
				li EITI Reports
				li Auditor’s Reports
				li Other documents such as interview notes or transcripts of responses.
		p Researchers should also provide any additional information which may be relevant in the “Comment” section. Each question includes a “not applicable/other” option. This option should only be used in cases where the question does not apply at all to the country in question. For instance, “not applicable/other” would apply to questions about Special Resource Funds or State-Owned Companies in a country that has neither. In all cases where the researcher selects the “not applicable/other” answer choice, s/he should provide an explanation of why this option was chosen in the “Comment” section, including cases where researchers are unable to find the information or are not qualified to answer the question.
		p Researchers should privilege documents that are publicly available in completing the questionnaire. If one or more of the key documents has been attained through special means (that would not be available to the general public) this should be noted in the space for sources and comments.
		p Once you have completed a question, you need to press submit. You can also save a partial answer to a question and return later to complete it. 
		p You can only submit the entire questionnaire as completed once you have submitted answers to all questions. 
		p Please note that in the word document of the questionnaire, you will find a column entitled Guidance Notes that will provide information to help you with answering the questions. 


