@import "../variables"

.active-icon
  cursor pointer

.table-responsive
  overflow-x auto

.left-padding-lg
  padding-left $padding-large
.top-padding-lg
  padding-top $padding-large
.right-padding-lg
  padding-right $padding-large
.bottom-padding-lg
  padding-bottom $padding-large

.left-padding-med
  padding-left $padding-regular
.top-padding-med
  padding-top $padding-regular
.right-padding-med
  padding-right $padding-regular
.bottom-padding-med
  padding-bottom $padding-regular

.margin-left-med
  margin-left $margin-regular
.margin-bottom-med
  margin-bottom $margin-regular

.btn-col
  width 100%

.header-block
  font-weight bold

label.thin-label
  font-weight normal
  margin-bottom 0

.hint
  cursor help

.deleted
  .row
    opacity 0.3

  &:hover
    .row.button-set
      opacity 1

.wrap-content
  overflow-wrap break-word
  word-wrap break-word
  -ms-word-break break-all
  word-break break-word