@import "../variables"

$footer-padding = 15px

body
  padding-top 61px

footer
  padding-left $footer-padding
  padding-right $footer-padding
  p
    border-top 1px solid $extra-light-gray

.page-container
  padding-top $padding-regular
  min-width 500px

.page-well
  margin $margin-regular 70px $margin-regular $padding-large