@import "../variables"

.mapsicon
  height 100px

.filter-form
  padding-top $padding-regular
  padding-bottom $padding-regular

#toast-container
  top 70px

div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control
  margin-top $margin-regular

table[ts-wrapper="ts-wrapper"] .tablesort-asc, table[ts-wrapper="ts-wrapper"] .tablesort-desc
  background-color $light-gray

.dropdown-toggle
  cursor pointer

.as-sortable-item.sortable-item
  padding-top $padding-small
  background-color $extra-light-gray