@import "../variables"

.ngdialog.dialogwidth800 .ngdialog-content
  width 800px !important

.popover
  max-width 400px !important

.popover-content
  max-height 300px
  overflow-y scroll

.modal
  overflow visible

.modal:focus
  outline 0

.modal-content
  width 1600px

.ui-draggable-handle
  border thin solid $extra-dark