@import "../variables"

.nav-tabs
  li:not(.active)
    cursor pointer
  li.active
    cursor default

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus
  color $dark-gray
  background-color $yellow