@import "../variables"
//not used
.navbar-header a.navbar-brand
  padding-top 30px
  margin-top -15px
  margin-bottom -1 * $padding-regular
  h6
    color $gray

.navbar-form
  .form-group
    margin-left $margin-regular
  button
    margin-left $margin-regular