@import "../variables"

.btn-file
  position relative
  overflow hidden

.btn-file input[type=file]
  position absolute
  top 0
  right 0
  min-width 100%
  min-height 100%
  font-size 100px
  text-align right
  outline none
  cursor inherit
  display block
  opacity 0

.fileUpload
  position relative
  overflow hidden
  margin $margin-regular

input.upload
  position absolute
  top 0
  right 0
  margin 0
  padding 0
  font-size 20px
  cursor pointer
  opacity 0